@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<body>
    <div class="content">
        <div class="wrap">
            <div class="about">
                <h3>HAKKIMIZDA</h3>
                <img src="~/images/hakkimizdaArkaPlan.jpg" alt="" />
                <p>Araç Kiralama</p>
                <p>Türkiye’nin ve dünyanın en başarılı araç kiralama portallarından birisi olan rent a car internet sayfasına hoş geldiniz.</p>	.
                <p>Sadece Türkiye’de değil, aynı zamanda tüm dünyada araç kiralamak için rezervasyon yapabilirsiniz.</p>
                <p>Dünyanın neresinde araç kiralamak isterseniz, aradığınız aracı rent a car internet sayfalarında bir tıkla seçebilirsiniz.</p>
                <p>İster bir günlük, ister haftalık, isterse aylık olarak kiralamayı düşündüğünüz hayalinizdeki araçları hayalinizdeki fiyatlarla size rent a car sunar.</p>
                <p>rent a car internet sayfalarından online olarak son derece basit ve hızlı bir şekilde, dünyanın istediğiniz ülkesinde araç kiralayabilirsiniz.</p>
                <p>Sayfalarımızdan ister Fransa Paris'ten, ister Hollanda Amsterdam'dan araştırmakta olduğunuz en uygun araç kiralama seçeneklerine ulaşabilirsiniz.</p>
                <p>Bunun gibi İspanya Barcelona'da araç kiralama veya Çek Cumhuriyeti Prag'da araç kiralama ve buna ilaveten daha detaylı bir bilgi ihtiyacınızda mobil hatlardan Çağrı Merkezi’mize ulaşabilirsiniz.</p>
                <p>Ayrıca rezervasyon@rentacar.com.tr e-posta adresimiz ile de bize ulaşabilir, taleplerinize kısa sürede cevap alırsınız.</p>
                <p>
                    Dünyanın dört bir yanında bulunan 105'den fazla ülke ve 4,000’i aşkın kiralama ofisinde BMW, Mercedes-Benz, Volkswagen, Ford ve diğer seçkin araç markaları ile buluşturmaktan gurur duymakla birlikte
                    siz değerli müşterilerimize en doğru seçimi yapmanızı sağlayarak en kaliteli deneyimi bizimle yaşamınız için tüm çabamızla çalışıyoruz
                </p>

            </div>
        </div>
    </div>

</body>
</html>
