@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Hakkimizda";

}


<!DOCTYPE HTML>
<html>
<body>
    <div class="content">
        <div class="wrap">
            <div class="ABOUT">
                <h2 class="indent-left margin-bot">ABOUT</h2>
                <img src="~/images/hakkımızdaArkaPlan.jpg" alt="" />
                <p>Rent A Car</p>
                <p>Welcome to the rent a car website, one of the most successful car rental portals in Turkey and the world.</p>
                <p>You can book a car rental not only in Turkey, but also in all countries..</p>
                <p>Wherever you want to rent a car in the world, you can choose the car you are looking for with one click on the rent a car internet pages.</p>
                <p>Whether you want to rent for a daily, weekly or monthly basis, it offers you rent a car at the prices of your dreams.</p>
                <p>You can rent a car in any country of the world in a very simple and fast way online from rent a car internet pages.</p>
                <p>From our pages, you can find the most suitable car rental options you are searching for, whether from Paris, France or Amsterdam, Netherlands.</p>
                <p>Likewise, if you need a car rental in Barcelona, ​​Spain, or a car rental in Prague, Czech Republic, and additionally, you can reach our Call Center via mobile lines.</p>
                <p>You can also reach us via our e-mail address rezervasyon@rentacar.com.tr, and you will receive a response to your requests in a short time.</p>
                <p>
                    We are proud to bring together BMW, Mercedes-Benz, Volkswagen, Ford and other distinguished vehicle brands in more than 105 countries and more than 4,000 rental offices all over the world, providing you, our valued customers,
                    to make the right choice and provide the best quality experience with us for your life.
                    We are working hard
                </p>

            </div>
        </div>
    </div>
</body>
</html>
