@using Microsoft.AspNetCore.Identity
@using RentCar.Areas.Identity.Data

@inject SignInManager<RentCarUser> SignInManager
@inject UserManager<RentCarUser> UserManager
<!DOCTYPE HTML>
<html>
<head>
<title>Rent A Car Website Template </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/css/js/jquery.min.js"></script>
  <script src="~/css/js/responsiveslides.min.js"></script>

  
</head>
<body>
<div class="header">
<div class="wrap">
            <div class="logo"><a href="index.html"></a></div>
   <div class="con-right">
			<div class="grid1-l-img">
                    <img src="~/images/contact.png" alt="">
			</div>
			<div class="grid1-l-desc">
                    <p>>Contact : 05051496522</p>
			</div>
			<div class="clear"></div>
	</div>
    <div class="clear"></div>
     </div>
</div>
<div class="header-bottom">
    	<div class="wrap">
    		<ul id="nav">
                <li><a href=/Home/Index>Home</a></li>
                <li><a class="hsubs" href=/Hakkimizda/Hakkimizda>Hakkimizda</a></li>
                <li>
                  
                    
                        <li><a href=/Arac/Arac>Araç-Fiyat Listesi</a></li>
                        <li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Role Erisim
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="RoleViews" asp-action="Index">Roles</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="RoleViews" asp-action="Manager">Manager</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="RoleViews" asp-action="Admin">Admin</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                        </li>
                
                <li><a href=Ingilizce>İngilizce</a></li>
                </li>
                   
                </li>
                
        </ul>
       </div>
       <partial name = "_LoginPartial" />
</div>
     <div class"content">
         @RenderBody()
         @await RenderSectionAsync("Scripts",required:false)
      	</div>
<div class="footer-bottom">
<div class="wrap">	
	<div class="copy">
		<p>2013 Rent A Car. All Rights Reserved </a></p>
	</div>
 </div>
</div>
</body>
</html>
