@using RentCar.Models.Siniflar
@model List<Arac>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Arac";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-color :burlywood);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <div class="about">
                    <h3>
                        <font size="30">ARAÇ FİYAT LİSTESİ</font>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="car-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th class="bg-primary heading">1-5 Gün Fiyatı</th>
                                <th class="bg-primary heading">5-15 Gün Fiyatı</th>
                                <th class="bg-primary heading">15-30 Gün Fiyatı</th>
                                <th class="bg-primary heading">+30 Gün Fiyatı</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                           
                             
                                @foreach (var x in Model)
                                {
                            <tr class="">
                                <td class="car-image">
                                    <div class="img" style="background-image: url(https://images6.alphacoders.com/950/thumb-1920-950806.jpg);"></div>
                                    <img width="250" height="100" src="https://cdn.motor1.com/images/mgl/E61G6e/s3/2023-range-rover-sport-render.webp" />
                                    <br />
                                    <a class="btn btn-outline-primary" href="/rentcarweb/HomeCar/GetById/1">Aracın Detayları</a>
                                </td>
                                <td class="price">
                                    <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a>@x.besgünFiyat</p>
                                    <div class="price-rate">
                                        <h3>
                                            <span class="num">TL<small class="currency"></small></span>
                                        </h3>
                                        <span class="subheading">1-5 Günlük Araç Kiralama Fiyatı</span>
                                    </div>
                                </td>

                                <td class="price">
                                    <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                    <div class="price-rate">
                                        <h3>
                                            <span class="num">TL<small class="currency"></small>@x.onbesgünFiyat</span>
                                        </h3>
                                        <span class="subheading">5-15 Günlük Araç Kiralama Fiyatı</span>
                                    </div>
                                </td>

                                <td class="price">
                                    <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                    <div class="price-rate">
                                        <h3>
                                            <span class="num">TL<small class="currency"></small>@x.otuzgünFiyat</span>
                                        </h3>
                                        <span class="subheading">15-30 Günlük Araç Kiralama Fiyatı</span>
                                    </div>
                                </td>
                                <td class="price">
                                    <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                    <div class="price-rate">
                                        <h3>
                                            <span class="num">TL<small class="currency"></small> 1.450</span>
                                        </h3>
                                        <span class="subheading">+30 Günlük Araç Kiralama Fiyatı</span>
                                    </div>
                                </td>
                            </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

